{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div>
    <div>
        UUID: {{ uuid }}
    </div>
    <div>
        {{ form_start(form) }}
        {# ... #}
        {{ form_row(form.session_name) }}
        {{ form_row(form.player_name) }}
        {{ form_row(form.savegame) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
