{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div>
    <div>
        <div>
            {% if session is not null %}
            <div>
                Session UUID: {{ session.uuid }}
            </div>
            <div>
                SessionName: {{ session.name }} - {{ session.createdAt|date("m/d/Y")}}
            </div>
            <div class="my-2">
                {% for timeslot in session.timeline %}
                    <div class="my-5">
                        <div>
                            File: {{ timeslot.fileIdentifier }}
                        </div>
                        <div>
                            TrainerName: {{ timeslot.trainerName }}
                        </div>
                        <div>
                            PlayTime: {{ timeslot.playtime }}
                        </div>
                        <div>
                            Uploader: {{ timeslot.uploaderName }} - {{ timeslot.uploadedAt|date("m/d/Y") }}
                        </div>
                        <div style="margin-bottom: 10px">
                            {% for pokemon in timeslot.party %}
                                <div>
                                    Pokemon: {{ pokemon.speciesId }} - {{ pokemon.nickname }} - {{ pokemon.level }}
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{{ path("app_session_delete_timeslot", {identifier: timeslot.fileIdentifier}) }}"><button class="btn btn-danger">Delete Timeslot</button></a>
                    </div>
                {% endfor %}
            </div>
            <div class="my-2">
                {{ form_start(form) }}
                Upload new SavePoint
                {{ form_row(form.player_name) }}
                <div class="my-2">
                    {{ form_label(form.savegame, null, {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.savegame, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="my-2 btn-group" role="group" aria-label="Basic example">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    <a href="{{ path('app_index_session') }}"><button class="btn btn-secondary">Back</button></a>
                </div>
                {{ form_end(form) }}
            </div>
            <a href="{{path('app_session_delete_session', {uuid: session.uuid})}}"><button class="btn btn-danger">Delete Session</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
